*{
    margin: 0px;
    padding: 0px;
}
.align_end{
    text-align: end;
}
.align_center{
    text-align: center;
}
.conoce_mas{
    text-align: center;
    font-size: 2rem;
    background-color: #becbce;
    padding-top: 1rem;
}
.conoce_mas p {
    color: #000;
}
.conoce_mas button{
    border-radius: 1rem;
    height: 3rem;
    margin-bottom: 2rem;
    background-color: rgb(112, 112, 112);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.grow{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.grow:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        -webkit-transform: scale3d(1.5, 1.5, 0.3);
        -moz-transform: scale3d(1.5, 1.5, 0.3);
}
footer{
    width: 100vw;
    background-color: black;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    margin-top: auto;
}

.map{
    width: 100%;
}
/* -------------------------NAVBAR------------------------- */
.nav_style_css{
    background-color:#9C9999;
}
.navbar_brand-size{
    width: 50px;
}

.white{
    color: white;
}


/* -------------------------MAIN_INDEX------------------------- */

.header_banner-css{
    width: 100%;
    padding-bottom: 3px;
}
.container_size_css{
    width: 100%;
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0rem;
}

.main_div_img{
    width: 100%;
}

.main_row_div_odd-color{
    background-color:rgb(112, 112, 112);
    text-align: center;
    align-items: center;
    padding: 10px;
}
.main_row_div_pair-color{
    background-color: rgb(255, 255, 255);
    align-items: center;
}

.main_row_div_font_odd-css{
    color: rgb(255, 255, 255);
    text-align: center;
}
.main_row_div_pair_font-css{
    text-align: center;
    color: rgb(0, 0, 0);
}

/* -------------------------Portfolio------------------------- */

.text_shadow{
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: rgb(165, 164, 164) 6px 6px 8px;
    text-transform: uppercase;
    color:rgb(0, 0, 0)
    }